@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --cor-fundo-header-topo: #00007f; /* Substitua isso pela cor desejada */
  --cor-secundaria: #2ecc71; /* Substitua isso pela cor desejada */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}

.topo-header {
  height: 2rem;
  display: flex;
  flex-direction: row;
  padding: 5px;
  background-color: var(--cor-fundo-header-topo);
  color: #ffffff;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
}

.number {
  display: flex;
  gap: 5px;
  margin-left: 15px;
}

/* estilização do conteúdo */

section {
  padding: 90px 4%;
  border-bottom: 1px solid #ffffff;
}

section h2 {
  font-size: 2em;
  margin-bottom: 25px;
}

section p {
  font-size: 20px;
}

header {
  background-color: white;
  color: #1f0404;
  text-align: center;
  padding: 10px;
  
}

nav {
  background-color: var(--cor-fundo-header-topo);
  color: #ffffff;
  padding: 15px;
  
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  
}

nav li {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  
}

main {
  padding: 5px;
}




.cor1 {
  background-color: #f39c12;
  color: #ffffff;
  padding: 20px;
  border-radius: 15px;
}

.cor2 {
  background-color: #e74c3c;
  color: #ffffff;
  border-radius: 5px;

  padding: 30px;
}
.cor3 {
  background-color: #2ecc71;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
 
}
.cor4 {
  background-color: #2ecc71;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}
.cor5 {
  background-color: #f39c12;
  color: #ffffff;
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
}

footer {
  background-color: #00007f;
  color: #ffffff;
  text-align: center;
}
footer img {
  margin-top: 0px;
}
footer p {
  margin-bottom: 0px;
}
